<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Osztálynapló</title>
</head>

<body>

    <!-- alkalmazás-->
    <main id="app">
        <h1>{{pageTitle}}</h1>
        <input type="text" v-model='pageTitle'>

        <!-- diáklista -->
        <ul>
            <li v-for="student in studentCollection">
                <span v-bind:style="GetColor(student)">
                    {{student.name}}
                </span>
                <span v-show="student.gender == 'f'">Labdát kap</span>
                <span v-show="student.gender == 'l'">Virágot kap</span>
            </li>


        </ul>

        <!-- diák hozzáadása -->
        <input type="text" v-model="newStudent.name" v-on:keydown.enter="AddNewStudent()">

        <br>
        <label>
            <input type="radio" name="gender" v-model='newStudent.gender' value="l">
        </label>
        <br>
        <label>
            <input type="radio" name="gender" v-model='newStudent.gender' value="f">
        </label>
        <br> érték: {{newStudent.gender}}

        <button v-on:click="AddNewStudent()">hozzáadás</button>

    </main>

    <!-- vendor.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- app.js -->
    <script defer src="scripts_vue.js"></script>
</body>

</html>